body{ 
    background-color: white;
 }

 /*Intestazione*/
        .img_intestazione{
        background-image: url("img/pattern.png");
        height: 100%;
        background-repeat: repeat;
        background-color: rgb(57, 188, 231);
        }

        #logo { 
        width: 700px;
        margin-top: 150px;
        }

        .sottotitolo{ 
        color: grey;
        font-size: 16px;
        }

        .scritta_booleaners{ 
        color: rgb(57, 188, 231);
        }

        .data_didascalia{ 
        font-size: 12px;
        }
 /*Fine Intestazione*/

 /*Didascalie Foto*/
    .didascalia_1st_photo{ 
        font-size: 12px;
        }

        .didascalia_2nd_photo{ 
            font-size: 12px;
            }
/*Fine didascalie foto*/

/*Tabella*/
    .intestazione_tabella {
        background-color: rgb(0, 140, 255);
        color: white;
      }

      .prima_riga_tabella {
        background-color: lightblue;
      }
      .terza_riga_tabella {
        background-color: lightblue;
      }
/*Fine Tabella*/

/*Footer*/
      .img_monitor{
        margin: 0px;
        background-image: url('img/monitor.jpg');
        background-repeat: no-repeat;
        color: #FFFFFF;
        background-color: red;
        font-size: 140%;
        font-weight: normal;
        line-height: 260px;
        text-align: center;
        width: 240px;
        height: 150px;
      }

      .img_graph{
        margin: up;
        background-image: url('img/graph.jpg');
        background-repeat: no-repeat;
        color: #FFFFFF;
        background-color: red;
        font-size: 140%;
        font-weight: normal;
        line-height: 260px;
        text-align: center;
        width: 240px;
        height: 150px;
      }